name: CI-pint-master

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python-version: [3.9, "3.10", "3.11"]
        numpy: ["numpy>=1.20.3,<2.0.0"]
        pandas: ["pandas==2.0.2", ]
        pint: ["pint>=0.21.1"]
        uncertainties: [ "pint==0.23rc0 pandas==2.1.0 uncertainties==3.1.7", ]

    runs-on: ubuntu-latest

    env:
      TEST_OPTS: "-rfsxEX -s --cov=pint_pandas --cov-config=.coveragerc"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100

      - name: Get tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pint
        run: python -m pip install git+https://github.com/hgrecco/pint.git@master

      - name: Get pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: Setup caching
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: pip-${{ matrix.python-version }}
          restore-keys: |
            pip-${{ matrix.python-version }}

      - name: Install numpy
        if: ${{ matrix.numpy != null }}
        run: pip install "${{matrix.numpy}}"

      - name: Install dependencies
        run: |
          pip install .[test]

      - name: Install pandas
        if: ${{ matrix.pandas != null }}
        run: pip install "${{matrix.pandas}}"

      - name: Install uncertainties
        if: ${{ matrix.uncertainties != null }}
        run: pip install ${{matrix.uncertainties}}

      - name: Run Tests
        run: |
          pytest $TEST_OPTS

      - name: Coverage report
        run: coverage report -m

      - name: Coveralls Parallel
        env:
          COVERALLS_FLAG_NAME: ${{ matrix.test-number }}
          COVERALLS_PARALLEL: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github
        run: |
          pip install coveralls
          coveralls

  coveralls:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Coveralls Finished
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_SERVICE_NAME: github
      run: |
        pip install coveralls
        coveralls --finish

  # Dummy task to summarize all. See https://github.com/bors-ng/bors-ng/issues/1300
  ci-success:
    name: ci
    if: ${{ success() }}
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: CI succeeded
        run: exit 0
